
<div class="row m-2">
  <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6 offset-3">
    <div class="card">
      <div class="card-body">
        <div *ngIf="err" class="alert alert-danger p-1 m-3">
          <p>{{err}}</p>
        </div>
        <div class="needs-validation" novalidate>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input class="form-control" id="exampleInputPassword1"  placeholder="Password" name="new_password" type="password"
                     formControlName="new_password"  [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }">
              <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                <div *ngIf="f.new_password.errors.required">Password is required</div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block  text-center">
                            <span *ngIf="submitted" class="spinner-border spinner-border-sm" role="status">
                            </span>
              <span *ngIf="!submitted">Change</span>
            </button>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>
<!--spinner-->