<div id="live-chat">

    <header class="clearfix">

        <a routerLink="/notification" class="chat-close">x</a>

        <h4>John Doe</h4>

        <span class="chat-message-counter">3</span>

    </header>

    <div class="chat">

        <div class="chat-history">

            <div class="chat-message clearfix" *ngFor="let message of messages">

                <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">

                <div  class=" clearfix rounded bg_provider   p-1 " [ngSwitch]="message.message_from" [ngClass]="{'bg-secondary':message.message_from==='customer'}"  >


                    <div  *ngSwitchCase="'customer'" >

                        <h5 class="text-white">{{message.message_from}}</h5>
                        <p class="text-white" >{{message.message}}</p><br>
                        <span class="chat-time text-white">{{message.createdAt | timeAgo}}</span>

                    </div>

                    <div *ngSwitchCase="'provider'" >
                        <p >{{message.message}}</p><br>
                        <div class="row justify-content-around">
                            <span class="chat-time">{{message.createdAt | timeAgo}}</span>
                            <button class="btn btn-sm btn-outline-dark"><i style="font-size: xx-small" class="fa fa-trash " (click)="deleteMessage(message._id)"></i></button>

                        </div>

                    </div>

                </div> <!-- end chat-message-content -->

            </div> <!-- end chat-message -->

            <hr>


        </div> <!-- end chat-history -->

<!--        <p class="chat-feedback">Your partner is typing…</p>-->

        <form [formGroup]="chatForm"  (ngSubmit)="onSend()">

            <fieldset>

                   <div class="form-group">
                       <input formControlName="message" type="text" placeholder="Type your message…" autofocus>
                   </div>
                    <button class="btn btn-outline-dark btn-block" type="submit">SEND</button>
            </fieldset>

        </form>

    </div> <!-- end chat -->

</div> <!-- end live-chat -->