


    <div class="d-flex" id="wrapper" [ngClass]="{'toggled': toggled==true}">

        <!-- Sidebar -->
        <div *ngIf="session.isAuth()"  class="bg-white border-right" id="sidebar-wrapper"   >
            <div class="list-group list-group-flush">
                <a (click)="onToggle()" routerLink="/profile/index" class="list-group-item list-group-item-action bg-white"><i class="fas fa-user"></i></a>
                <a (click)="onToggle()" routerLink="/book/index" class="list-group-item list-group-item-action bg-white"><i class="fas fa-book-reader"></i></a>
                <a (click)="onToggle()" routerLink="/notification" class="list-group-item list-group-item-action bg-white"><i class="fas fa-bell"></i></a>
                <a (click)="onToggle()" routerLink="/order/index" class="list-group-item list-group-item-action bg-white"><i class="fas fa-list"></i></a>
                <a  (click)="logOut()" routerLink="/sign_in" class="list-group-item list-group-item-action bg-white"><i class="fas fa-sign-out-alt"></i></a>

            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <app-app-tool-bar (onToggle)="onToggle()"></app-app-tool-bar>
            <router-outlet></router-outlet>

        </div>


</div>