<div class="row m-2">
    <div class="jumbotron col-md-12">
        <p>Here you can read more about your order</p>
        <button class="btn btn-info" (click)="backToMyOrders()">Back To My Orders!!</button>
    </div>
</div>

<div class="row">


    <div class="col-md-4 offset-4">


        <ul class="list-group m-2">
            <li class="list-group-item">Order Id{{order_id}}</li>
            <li class="list-group-item">Mohammed Elamin</li>
            <li class="list-group-item">melamin100@yahoo.com</li>
            <li class="list-group-item">12 Books</li>
            <li class="list-group-item">Sudan khartoum</li>
            <li class="list-group-item">Author</li>
            <li class="list-group-item">Title</li>
            <li class="list-group-item">Price</li>
            <li class="list-group-item">
                <div class="form-inline justify-content-between">
                    <button class="btn btn-success">Accept</button>
                    <button class="btn btn-danger">Reject</button>

                </div>
            </li>


        </ul>

    </div>
</div>