<div class="row m-2">
    <div class="jumbotron col-md-12">
        <p>Here you can read more about your order</p>
        <button class="btn btn-info" (click)="backToMyOrders()">Back To My Orders!!</button>
    </div>
</div>



<div class="text-center m-2">
    <span   *ngIf="load_order"  class="spinner-border spinner-border-sm" role="status"> </span>

</div>
<div class="row" *ngIf="!load_order">


    <div class="col-md-4 offset-4">


        <ul class="list-group m-2">
            <li class="list-group-item">{{order._id}}</li>
            <li class="list-group-item">{{order.provider_id}}</li>
            <li class="list-group-item">{{order.customer_id}}</li>
            <li class="list-group-item">{{order.book_id}}</li>
            <li class="list-group-item">{{order.user_location.lat}}</li>
            <li class="list-group-item">{{order.user_location.long}}</li>
            <li class="list-group-item">{{order.total_price}}</li>
            <li class="list-group-item">{{order.createdAt | timeAgo}}</li>
            <li class="list-group-item">
                <div class="form-inline justify-content-between">
                    <button (click)="acceptOrder(order._id)" class="btn btn-success">Accept</button>
                    <button  (click)="rejectOrder(order_id)"  class="btn btn-danger">Reject</button>

                </div>
            </li>


        </ul>

    </div>
</div>