<div class="row">

    <div class="col-md-8 offset-2">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Book Tile</th>
                <th scope="col">Author</th>
                <th scope="col">Price</th>
                <th scope="col">Customer Name</th>
                <!--<th scope="col">Customer phone</th>-->
                <!--<th scope="col">Quantity</th>-->
                <!--<th scope="col">Address</th>-->
                <th scope="col">More Info</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of list; ">
                <th scope="row">1</th>
                <td>Title</td>
                <td>Author</td>
                <td>Price</td>
                <td>Mohammed Elamin</td>
                <!--<td>09027643827</td>-->
                <!--<td>12-books</td>-->
                <!--<td>Khartoum Sudan</td>-->
                <td><button (click)="showOrder(i)" class="btn btn-info">More Info</button></td>

            </tr>

            </tbody>
        </table>
    </div>


</div>