<div class="text-center m-2">
    <span   *ngIf="load_notificaitons"  class="spinner-border spinner-border-sm" role="status"> </span>

</div>

<div class="row" *ngIf="!load_notificaitons">
    <div class="col-md-6 offset-3">

        <ul class="list-group m-2">
            <li class="list-group-item" *ngFor="let notifaction of notifications">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://via.placeholder.com/600/#e8ecf1" width="50" height="50"
                             class="img-fluid   rounded-circle m-2" alt="...">
                    </div>
                    <div class="col-md-10 ">
                        <p class="p-2">{{notifaction.content}}</p>
                        <div class="row justify-content-between pl-2">
                            <p><i class="fa fa-clock"></i>{{notifaction.createdAt | timeAgo}}</p>


                            <button class="p-2 btn btn-outline-dark" routerLink="chat/{{notifaction.customer_id}}">Chat <i class="fab fa-facebook-messenger"></i></button>
                            <button (click)="clear(notifaction._id)" class="btn btn-sm  btn-outline-danger ">
                                Clear
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>

<router-outlet></router-outlet>