


<ul class="list-group m-2" *ngIf="load_main_profile_data">
  <li class="list-group-item">{{profile_data['name']}}</li>
  <li class="list-group-item">{{profile_data['email']}}</li>
  <li class="list-group-item" *ngIf="profile_data['profile'].phone_number!==''">{{profile_data['profile'].phone_number}}</li>
  <li class="list-group-item" *ngIf="profile_data['profile'].job!==''">{{profile_data['profile'].job}}</li>
  <li class="list-group-item" *ngIf="profile_data['profile'].about!==''">{{profile_data['profile'].about}}</li>
</ul>




<div *ngIf="!load_main_profile_data" class="text-center" >
          <span    class="spinner-border spinner-border-md" role="status"> </span>

</div>