


<div class="row m-5">


  <div class="col-md-3 m-2">
    <div class="card">
      <div class="card-body">
        <img src="https://via.placeholder.com/150/24f355" width="100%" class="img-thumbnail">
        <p>Author</p>
        <p>Title</p>
        <p class="badge badge-info">Category</p>
        <p class="badge badge-warning">$35-US</p>
        <p>2019-8-23</p>
      </div>
      <div class="card-footer">
        <div class="form-inline justify-content-between">
          <button class="btn btn-danger">Delete</button>
          <a class="btn btn-success"  (click)="toUpdate()">Update</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 m-2">
    <div class="card">
      <div class="card-body">
        <img src="https://via.placeholder.com/150/24f355" width="100%" class="img-thumbnail">
        <p>Author</p>
        <p>Title</p>
        <p class="badge badge-info">Category</p>
        <p class="badge badge-warning">$35-US</p>
        <p>2019-8-23</p>
      </div>
      <div class="card-footer">
        <div class="form-inline justify-content-between">
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 m-2">
    <div class="card">
      <div class="card-body">
        <img src="https://via.placeholder.com/150/24f355" width="100%" class="img-thumbnail">
        <p>Author</p>
        <p>Title</p>
        <p class="badge badge-info">Category</p>
        <p class="badge badge-warning">$35-US</p>
        <p>2019-8-23</p>
      </div>
      <div class="card-footer">
        <div class="form-inline justify-content-between">
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 m-2">
    <div class="card">
      <div class="card-body">
        <img src="https://via.placeholder.com/150/24f355" width="100%" class="img-thumbnail">
        <p>Author</p>
        <p>Title</p>
        <p class="badge badge-info">Category</p>
        <p class="badge badge-warning">$35-US</p>
        <p>2019-8-23</p>
      </div>
      <div class="card-footer">
        <div class="form-inline justify-content-between">
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-3 m-2">
    <div class="card">
      <div class="card-body">
        <img src="https://via.placeholder.com/150/24f355" width="100%" class="img-thumbnail">
        <p>Author</p>
        <p>Title</p>
        <p class="badge badge-info">Category</p>
        <p class="badge badge-warning">$35-US</p>
        <p>2019-8-23</p>
      </div>
      <div class="card-footer">
        <div class="form-inline justify-content-between">
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 m-2">
    <div class="card">
      <div class="card-body">
        <img src="https://via.placeholder.com/150/24f355" width="100%" class="img-thumbnail">
        <p>Author</p>
        <p>Title</p>
        <p class="badge badge-info">Category</p>
        <p class="badge badge-warning">$35-US</p>
        <p>2019-8-23</p>
      </div>
      <div class="card-footer">
        <div class="form-inline justify-content-between">
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
  </div>


</div>